footer.footer.is-grouped
    .content.has-text-centered
        p Throttle frontend #{version} 
            | ©
            strong 
                a(href='https://www.sitespeed.io/aboutus/') sitespeed.io team
            | &nbsp;and contributors 2021.
        p
            a(href='https://github.com/sitespeedio/throttle-frontend/blob/main/CHANGELOG.md') Code 
            | licensed 
            a(href='https://www.gnu.org/licenses/quick-guide-gplv3.html') GPLv3
            | . 
            a(href='https://github.com/sitespeedio/throttle-frontend/blob/main/CHANGELOG.md') Changelog
            | . 
            a(href='https://github.com/sitespeedio/throttle-frontend') Help us make it better!